/* CSS: Cascading Style Sheets

properties and values

*/

.headers {
    background-color: rgb(0, 0, 0);
    color: rgb(140, 0, 255);
    padding: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: crimson;
    border-radius: 100px;
}

.hyperlinks {
    color: rgb(0, 255, 85);
    margin-left: 150px;
}

.span {
    color: rgb(0, 153, 255);
    background-color: rgb(0, 255, 255);
}

.Paragraphs {
    color: red;
    background-color: rgb(140, 0, 255);
    padding: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
}

.unordered_list {
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}












h1 {
    color: rgb(0, 217, 255);
    background-color: black;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    background-color: indigo;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 50px;
}

h3 {
    color: green;
    text-align: center;
}

p {
    color: crimson;
    text-align: center;
}

li {
    color: white;
    background-color: indigo;
    text-align: center;
}

ul {
    color: white;
    background-color: indigo;
    text-align: center;
}

img {
    height: 200px;
    width: 300px;
}



